@import '../../common/styles/sass/mixins';


.nav {
  margin-right: 10%;
  width: 350px;
  @media screen and (max-width: 444px) {
    width: 250px;
  }

  ul {
    @include flex(row, space-around, center, wrap);

    li {
      list-style-type: none;

      .link {
        color: $textColor;
        font-family: jost, sans-serif;
        font-weight: 600;
        line-height: 1.5;
        font-size: 20px;
        text-transform: capitalize;
        @media screen and (max-width: 444px) {
          @include text($textColor, 600, 1.5, 15px, capitalize);
        }

        &:hover {
          color: $primaryColor;
        }
      }

      .active {
        color: $primaryColor;
      }
    }
  }


}

