.skillsBlock {
    min-height: 60vh;
    background-color: #2b2d33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /**/

}

.title {
    background-color: lavender;
}

.skills {
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}