.contactsBlock{
    min-height: 50vh;
    background-color: #2b2d33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsContainer {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: lightgrey;
}

.formBlock {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    gap: 5px;
}

@media screen and (max-width: 335px) {
    .formBlock {
        width: 100%;
    }
}