.title{
    /*background-color: lavender;*/
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h3 {
    color: #f75023 !important;;
    font-weight: 500;
    line-height: 1.3;
}

.title h2 {
    color: #fff;

    font-weight: 500;
    line-height: 1.3;
}

.h3::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #1cbe59 !important;
    height: 1px;
    width: 100px;
    margin-top: 15px;

}
