.projectsBlock{
    background-color: #2b2d33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 671px) {
    .projects {
        justify-content: center;
    }

}