@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins';

.mainBlock {

  background-image: url(../assets/image/main-back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .particles {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
  }

  .mainContainer {
    width: 70%;
    height: 100.01vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1048px) {
      flex-direction: column;
      justify-content: center;
    }

    .text {
      width: max-content;
      font-family: jost, sans-serif;
      font-size: 20px;
      @media screen and (max-width: 444px) {
        @include text($primaryColor,500,1.25,18px,capitalize);
      }
      h3 {
        color: $primaryColor;
        font-family: jost, sans-serif;
        font-weight: 500;
        line-height: 30px;
        word-wrap: break-word;
        font-size: 30px;
        text-transform: capitalize;
        @media screen and (max-width: 444px) {
          @include text($primaryColor,500,1.25,22px,capitalize);
        }
      }

      h2 {
        color: $textColor;
        font-family: jost, sans-serif;
        font-weight: 500;
        line-height: 1.5;
        font-size: 50px;
        text-transform: capitalize;
        @media screen and (max-width: 444px) {
          @include text($textColor,500,1.25,38px,capitalize);
        }
      }

      p {
        color: $textColor;

        .greenText {
          color: $secondColor;

        }

        .yellowText {
          color: $thirdColor;
        }
      }
    }

    .parallaxEffect {
      //transform-style: preserve-3d;
      position: relative;

      .borderPhoto {
        width: 470px;
        height: 500px;
        position: relative;
        @media screen and (max-width: 444px) {
          width: 340px;
          height: 370px;
        }
      }

      .photo {
        margin: 30px 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        background-position: 50% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateZ(80px);
        position: absolute;
        left: 0;
        top: 0;

        .react {
          height: 55px;
          width: 55px;
          border-radius: 15px;
          position: absolute;
          left: 30px;
          top: 40px;
          animation: react 3s linear 0s infinite alternate;
          @keyframes react {
            0% {
              top: 30px;
            }
            100% {
              top: 50px;
            }
          }
        }

        .redux {
          height: 55px;
          width: 55px;
          border-radius: 15px;
          position: absolute;
          right: 5px;
          top: 200px;
          animation: redux 3s linear 0s infinite alternate;
          @keyframes redux {
            0% {
              top: 190px;
            }
            100% {
              top: 210px;
            }
          }
        }

        .sass {
          height: 55px;
          width: 55px;
          border-radius: 15px;
          position: absolute;
          right: 50px;
          bottom: 20px;
          animation: sass 3s linear 0s infinite alternate;
          @keyframes sass {
            0% {
              top: 10px;
            }
            100% {
              top: 30px;
            }
          }
        }

        .ts {
          height: 55px;
          width: 55px;
          border-radius: 15px;
          position: absolute;
          left: 150px;
          bottom: -10px;
          animation: ts 3s linear 0s infinite alternate;
          @keyframes ts {
            0% {
              bottom: 0;
            }
            100% {
              bottom: -20px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1048px) {
  .mainContainer {
    justify-content: center;
  }
}