@import '../common/styles/sass/variables.scss';


.mainBlock {
    height: 100vh;
    background-image: url('D:\CV\CV_2022\src\assets\image\main-back.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    justify-content: space-between;

}

.text {

    width: 350px;
    /*background-color: lavender;*/
    font-family: jost, sans-serif;
    font-size: 18px;
}

.text h3 {
    color: #f75023 !important;;
    font-family: jost, sans-serif;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word;
    font-size: 22px;
    text-transform: capitalize;
}

.text h2 {
    color: #fff;
    font-family: jost, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    font-size: 38px;
    text-transform: capitalize;

}

.text p {
    color: #fff;

}

.greenText {
    color: #1cbe59 !important;
    
}

.yellowText {
    color: #f0c45c !important;
}


.photo {
    width: 470px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (max-width: 640px) {
    .mainContainer {
        justify-content: center;
    }
}