@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
  width: 350px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  background-color: $dgSecondary;
  @media screen and (max-width: 444px) {
    width: 320px;
  }

  .imageBlock {
    height: 250px;
    width: 100%;
    overflow: hidden;

    .image {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include bgSettings();
      position: relative;
      transition: 0.8s;

      &:hover {
        transform: scale(1.1);
      }

      &:hover::before {
        opacity: 0;
      }

      &::before {
        position: absolute;
        content: '';
        background-color: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.2;
        transition: 0.8s;
      }

      .button {
        width: min-content;
        padding: 5px 20px;
        @include text($textColor, 500, 1.25, 20px, capitalize);
        background-color: transparent;
        border: 2px solid $primaryColor;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all .3s ease;
        z-index: 1;

        &:hover {
          color: $textColor;
        }

        &:active {
          top: -2px;
        }

        &:hover::before {
          height: 31px;
        }

        &::before {
          position: absolute;
          content: "";
          z-index: -1;
          background-color: $primaryColor;
          left: -5px;
          right: -5px;
          bottom: 2px;
          height: 10%;
          transition: all .3s ease;
        }
      }

    }
  }
  .textBlock {
    padding: 15px 10px;
    .title, .desc {
      color: #e5e5e5;
      font-family: jost, sans-serif;
      font-weight: 500;
      white-space: pre-wrap;
    }

    .title {
      color: $primaryColor;
      padding-bottom: 10px;
    }
  }

}



