@import '../sass/variables';


@mixin text($color, $fontWeight,
 $lineHeight, $fontSize, $textTransform) {
  color: $color;
  font-family: jost, sans-serif;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-size: $fontSize;
  text-transform: $textTransform;
}